<nav class="navbar navbar-dark bg-primary justify-content-center text-center">
  <h1 class="navbar-brand ">
    Angular Crud
  </h1>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group mt-5">
        <li
        *ngFor="let empleado of empleadoArray"
        class="list-group-item"
        (click)="openForEdit(empleado)"
        [class.active]="empleado === selectEmpleado"
        > <span class="badge text-bg-primary"> {{ empleado.id }} </span> {{ empleado.name }} - {{ empleado.country }}</li>
      </ul>
    </div>
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-body">
          <div class="card-title">
            Inserta un nuevo empleado
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectEmpleado.name" placeholder="Ingrese el nombre" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectEmpleado.country" placeholder="Ingrese el pais" class="form-control">
          </div>
          <button (click)="addOrEdit()" class="btn btn-success">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
